*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   list-style: none;
   text-decoration: none;
   border: none
}
@import './pages/home.scss';
@import './pages/create.scss';
@import './pages/edit.scss'