.form{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   .name{
      border: 2px solid blue;
      padding: 10px;
      margin-bottom: 10px;
   }
   .username{
      border: 2px solid blue;
      padding: 10px;
      margin-bottom: 10px;


   }
   .phone{
      border: 2px solid blue;
      padding: 10px;
      margin-bottom: 10px;


   }
   .email{
      border: 2px solid blue;
      padding: 10px;
      margin-bottom: 10px;


   }
   .password{
      border: 2px solid blue;
      padding: 10px;
      margin-bottom: 10px;


   }
}
