.card{
   width: 100%;
   background-color: #2aea;

   .black-div{
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
   .home{
      background-color: coral;
      padding:5px;
      border-radius: 5px;
      a{
         color: #fff;
      }
      &:hover{
         background-color: blue;
         color: #fff;
      }
   }
}